/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./bootstrap-social.css";

body {
    background: #ececec;
    padding:4em;
    font-family:arial;
}